*{
box-sizing: border-box;
font-weight:600;
margin:0;
padding:0;
}
/*css to provide padding at the bottom of each pages*/
.App{
  padding-bottom:50px;
}
.backgroundshade{
  background-color: rgb(39, 37, 37);
}
/*css for todo page*/
.Todo{
  max-width:500px;
  width:100%;
  min-height:400px;
  margin: 50px auto;
  padding:50px;
  background-color:#e5e4e2;
}
form{
  width:100%;
  height:32px;
  margin:20px 0;
  display: flex;
}
form input{
  flex:3;
  margin:0 px;
  border-radius: 20px;
  border-style: hidden;  
}
form button{
  flex:0.25;
  background:rgb(100, 99, 99);
  cursor:pointer;
  margin:0 5px;
  border-radius: 100%;
  border-style: hidden;
}
ul li{
  list-style:none;
  border:1px solid #ccc;
  margin:10px 0;
  padding:10px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  text-transform: capitalize;
}
ul li .active{
  opacity:0.5;
  text-decoration:line-through;
}
ul li input,
.row input{
  margin-right:5px;
  transform:translateY(1px);

}
ul li button,
.row button{
  border:none;
  outline:none;
  color:white;
  background:orange;
  padding:5px 15px;
}
.disabled1{
  opacity:0.2;
  cursor: not-allowed !important;
}
.row{
  /*display:flex;
  justify-content:space-between;
  align-items:center;*/
  margin-top:30px;
  padding-left:18px;
}
.allinput{
  padding-top:30px;
}
#delete{
  background: crimson;
 }
label{
  cursor:pointer;
}
h1{
  text-align:center;
  letter-spacing:2px;
  font-weight:900;
  font-family: 'Oleo Script', cursive;
}
/*css for contact and sign in pages*/
.signup{
  text-align: center;
  font-family: 'Oleo Script', cursive;
  padding:15px;
}
.signupform {
  display: block;
  margin: 0 auto;
  text-align: left;
}
.formlabel {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color:rgb(218, 209, 209);
  font-weight:300;
  font-family: 'Oleo Script', cursive;
}
.forminput{
  border: 1px solid #333;
  border-radius: 4px;
  height: 30px;
  width: 100%;
  margin-bottom:4px;
 }
.formp {
  color: #d41a1a;
  font-size: 14px;
  margin: 4px 0 8px 0;
}
/*css for navigation bar*/
.color-nav{
  background-color:rgb(212, 203, 152);  
}
.navbar-light .navbar-brand{
  font-size: 30px;
  font-family: 'Oleo Script', cursive;
 
}
.nav-link{
  font-size:20px;
  font-family: 'Oleo Script', cursive;
  
}
/*css animation for navigation bar brand name*/
.navbar-light .navbar-brand,h2{
     animation: navlinkcolor1 4s infinite;
     font-size: 30px;
     font-family: 'Oleo Script', cursive;
 }
 @keyframes navlinkcolor1{
     from {color:rgb(19, 16, 16);}
     to {color:rgb(185, 46, 81);
  }
 }
 /*media query for screen size less than 500px,Small screen view with no  box-shadow compared to other screensizes*/
@media screen and (max-width:500px){
  .Todo{
  margin:80px auto;
  padding:20px;
  background-color:#e5e4e2;
}
form button{
  flex:0.27;
  background:rgb(100, 99, 99);
  cursor:pointer;
  margin:0 5px;
  border-radius: 100%;
  border-style: hidden;
}
.signupform {
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 80%;
}
.signup{
  text-align: center;
  font-family: 'Oleo Script', cursive;
  padding-top:50px;
  font-size:28px;
}
.forminput{
  border: 1px solid #333;
  border-radius: 4px;
  height: 35px;
  width: 100%;
}
.empty{
  padding-top:30px;
}
}
/*media query for screen size greater than 450px*/
@media only screen and (min-width: 500px){
  .Todo{
  max-width:420px;
  width:100%;
  min-height:400px;
  box-shadow:0 12px 26px rgb(225, 243, 59);
  margin: 80px auto;
  padding:30px;
  background-color:#e5e4e2;
}
form button{
  flex:0.32;
  background:rgb(100, 99, 99);
  cursor:pointer;
  margin:0 5px;
  border-radius: 100%;
  border-style: hidden;
}
  .signupform {
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 70%;
}
.signup{
  text-align: center;
  font-family: 'Oleo Script', cursive;
  padding-top:50px;
  font-size:30px;
}
.forminput{
  border: 1px solid #333;
  border-radius: 4px;
  height: 30px;
  width: 100%;
}
.empty{
  padding-top:50px;
}
}
/*media query for screen size greater than 768px*/
@media only screen and (min-width: 768px){
 .Todo{
  max-width:500px;
  width:100%;
  min-height:400px;
  box-shadow:0 12px 26px rgb(225, 243, 59);
  margin: 80px auto;
  padding:40px;
  background-color:#e5e4e2;
}
form button{
  flex:0.26;
  background:rgb(100, 99, 99);
  cursor:pointer;
  margin:0 5px;
  border-radius: 100%;
  border-style: hidden;
}
   .signupform {
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 75%;
}
.signup{
  text-align: center;
  font-family: 'Oleo Script', cursive;
  padding-top:50px;
  font-size:33px;
}
.forminput{
  border: 1px solid #333;
  border-radius: 4px;
  height: 30px;
  width: 100%;
}
.empty{
  padding-top:50px;
}
}
/*media query for screen size greater than 1024px*/
@media only screen and (min-width: 1024px){
  .Todo{
  max-width:500px;
  width:100%;
  min-height:400px;
  box-shadow:0 12px 26px rgb(225, 243, 59);
  margin: 80px auto;
  padding:45px;
  background-color:#e5e4e2;
}
form button{
  flex:0.26;
  background:rgb(100, 99, 99);
  cursor:pointer;
  margin:0 5px;
  border-radius: 100%;
  border-style: hidden;
}
  .signupform {
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 65%;
}
.signup{
  text-align: center;
  font-family: 'Oleo Script', cursive;
  padding-top:50px;
  font-size:35px;
}
.forminput{
  border: 1px solid #333;
  border-radius: 4px;
  height: 30px;
  width: 100%;
}
.empty{
  padding-top:50px;
}
}
/*media query for screen size greater than 1280px*/
 @media only screen and (min-width: 1280px){
  .Todo{
  max-width:550px;
  width:100%;
  margin: 80px auto;
  min-height:400px;
  box-shadow:0 12px 26px rgb(225, 243, 59);
  padding:50px;
  background-color:#e5e4e2;
}
form button{
  flex:0.25;
  background:rgb(100, 99, 99);
  cursor:pointer;
  margin:0 5px;
  border-radius: 100%;
  border-style: hidden;
}
    .signupform {
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 55%;
}
.signup{
  text-align: center;
  font-family: 'Oleo Script', cursive;
  padding-top:50px;
  font-size:37px;
}
.forminput{
  border: 1px solid #333;
  border-radius: 4px;
  height: 30px;
  width: 100%;
}
.empty{
  padding-top:50px;
}
 }